In [1]:
import pandas as pd
import numpy as np

In [51]:
df = pd.DataFrame({'A':[1,2,3,4,5],
                  'B' : list('abcde'),'C':[11,12,13,14,15]})

In [52]:
df

   A  B   C
0  1  a  11
1  2  b  12
2  3  c  13
3  4  d  14
4  5  e  15

<h3>Understanding how pre processing function(BY APPLIED AI) worked on Quora dataset</h3>

In [53]:
def add(x):
    
    return x+2

In [54]:
#Know how pd.apply() method works

t = df.apply(lambda x: add(x[['A','C']]),axis=1)
t

   A   C
0  3  13
1  4  14
2  5  15
3  6  16
4  7  17

In [55]:
#Know how pd.apply() method works

t = df[['A','C']].apply(lambda x: add(x))
t

   A   C
0  3  13
1  4  14
2  5  15
3  6  16
4  7  17

In [26]:
def add(x,y):
    
    t = [0.0]*2
    t[0] = x**2
    t[1] = y + 2
    
    return(t)

In [30]:
t = df.apply(lambda x: add(x['A'],x['C']),axis=1)

In [35]:
t

0     [1, 13]
1     [4, 14]
2     [9, 15]
3    [16, 16]
4    [25, 17]
dtype: object

In [39]:
print(list(map(lambda x:x[0],t)))
df['squares(A)'] = list(map(lambda x:x[0],t))

[1, 4, 9, 16, 25]

In [40]:
print(list(map(lambda x:x[1],t)))
df['B+2'] = list(map(lambda x:x[1],t))

[13, 14, 15, 16, 17]

In [41]:
df

   A  B   C  squares  B+2  squares(A)
0  1  a  11        1   13           1
1  2  b  12        4   14           4
2  3  c  13        9   15           9
3  4  d  14       16   16          16
4  5  e  15       25   17          25

In [56]:
type('')

str

False